@font-face {
	font-family: 'aller';
	src: url('./fonts/Aller.eot');
	src: url('./fonts/Aller.eot?#iefix') format('embedded-opentype'),
		url('./fonts/Aller.woff2') format('woff2'),
		url('./fonts/Aller.woff') format('woff'),
		url('./fonts/Aller.ttf') format('truetype'),
		url('./fonts/Aller.svg#Aller') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'aller_bold';
	src: url('./fonts/Aller-Bold.eot');
	src: url('./fonts/Aller-Bold.eot?#iefix') format('embedded-opentype'),
		url('./fonts/Aller-Bold.woff2') format('woff2'),
		url('./fonts/Aller-Bold.woff') format('woff'),
		url('./fonts/Aller-Bold.ttf') format('truetype'),
		url('./fonts/Aller-Bold.svg#Aller-Bold') format('svg');
	font-weight: bold;
	font-style: normal;
}


/* CLEAR */

header a.menu-hamburguer{
	background:url("../img/menu-open.svg") no-repeat center;
	width: 32px;
	height: 32px;
	display: none;
	float: right;
	background-size: 100%;
	text-indent: -9999px;
	position: absolute;
	z-index: 99999;
	right: 20px;
	top: 10px;
}
header a.menu-hamburguer.close{
	background:url("../img/menu-close.svg") no-repeat center;
	background-size: 100%;
}

.vbox-close{
	background-color: transparent;
}
html, body {
	background-color:#fff;
	margin:0;
	padding:0;
	overflow-x:hidden;
}
div.clear {
    clear: both;
    display: table;
}
*{
	outline: 0 none;
	box-sizing:border-box;
}
p{
	margin:0;
}
form{
	margin: 0;
}
b{
	font-weight: 100;
}
p, div, label, input, textarea, select{
	color: #fff;
	font-family: "";
}
input{
    -webkit-appearance:none;  
    -webkit-border-radius:0px;
}
h1, h2, h3 {
	margin:0;
	padding:0;
	font-weight: 100;
	color: #fff;
	font-family: "";
}
.container{
	max-width:860px;
	width: 100%;
	margin: 0 auto;
	padding: 0 20px;
	position: relative;
}
br{
	line-height: 10px;
}
div{
	text-align:left;
}
img{
	border: 0 none;
}
a{
	text-decoration: none;
	font-family: "";
}
address{
	text-decoration: none;
	font-family: "";
}
a:hover{
	text-decoration: none;
	
}
input, select, textarea{
	background: rgba(0,0,0,0) none repeat scroll 0 0;
	border: 0 none;
}
ul{
	list-style: outside none none;
	padding: 0;
	margin: 0;
}
hr{
	border: 0;
}

.loader{
	position: fixed;
	bottom: 0;
	top: 0;
	left: 0;
	right: 0;
	background-color: #861c22;
	z-index: 999;
}
.loader svg{
	position: absolute;
	left: 50%;
	margin-left: -50px;
	top: 50%;
	margin-top: -50px;
}
header{
	background-color: #000;
	width: 100%;
	position: fixed;
	z-index: 100;
	height: 50px;
}
header h1.logo-header{
	background: url("../img/logo-header.png") no-repeat center;
	height: 30px;
	width: 100%;
	max-width: 95px;
	background-size: 100%;
	text-indent: -9999px;
	float: left;
	display: block;
	margin-top: 10px;
}
header nav{
	float: right;
	overflow: hidden;
	margin-top: 15px;
}
header nav ul{
	overflow: hidden;
	display: block;
}
header nav ul li{
	display: inline-block;
	margin-right: 30px;
}
header nav ul li:last-child{
	margin-right: 0;
}
header nav ul li a{
	font-family: "aller";
	text-transform: uppercase;
	text-align: center;
	display: block;
	text-transform: uppercase;
	font-size: 15px;
	color: #fff;
	transition: all 0.2s linear 0s;
}
header nav ul li a:hover, header nav ul li a.ativo{
	color: #faba0a;
}
.banner-home{
	margin-top: 50px;
}
.banner-home h1.logo{
	background: url("../img/logo-banner.png") no-repeat center;
	width: 100%;
	max-width: 571px;
	background-size: 90%;
	margin: 0 auto;
}
.banner-home .texto-banner{
  	width: 100%;
  	position: absolute;
  	top: 0;
  	margin: 0; 
  	padding: 0;
  	left: 0;
  	right: 0;
  	max-height: 1080px;
  	z-index: 14;
}
.banner-home .content-texto{
	width: 100%;
	display: table;
	vertical-align: middle;
	text-align: center;
	max-height: 1080px;
}

.banner-home .text-inner{
	width: 100%;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	padding: 0 30px;
	max-height: 1080px;
}
.banner-home h2{
	font-size: 32px;
	text-transform: uppercase;
	text-align: center;
	font-family: "aller_bold";
}
.banner-home p{
	font-size: 22px;
	text-align: center;
	font-family: "aller";
}


/* CONTEUDO INTERNA */
/* CONTEUDO INTERNA */
.conteudo-interna{
	margin-top: 50px;
	padding: 50px 0;
}
.conteudo-interna .topo h2{
	font-size: 42px;
	text-transform: uppercase;
	text-align: center;
	display: block;
	font-family: "aller_bold";
	margin-top: 75px;
	position: relative;
	margin-bottom: 100px;
}
.conteudo-interna .topo h2::before{
	content: "";
	width: 100%;
	max-width: 197px;
	height: 201px;
	background: url("../img/logo-internas.png") no-repeat center;
	background-size: 100%;
	margin-top: -75px;
	position: absolute;
	left: 0;

}
.conteudo-interna .topo h2 span{
	height: 6px;
	width: 13px;
	background-color: #fff;
	display: inline-block;
	margin-bottom: 12px;
}

/* EVENTO */
/* EVENTO */
.conteudo-interna.interna-evento{
	background-color: #ffd91b;
}
.conteudo-interna.interna-evento .topo h2{
	color: #861c22;
}
.conteudo-interna.interna-evento .topo h2 span{
	background-color: #861c22;
}
.conteudo-interna.interna-evento .conteudo-editor{
	max-height: 300px;
	overflow: auto;
	width: 100%!important;
}
.conteudo-interna.interna-evento .conteudo-editor h3,.conteudo-interna.interna-evento .conteudo-editor p,.conteudo-interna.interna-evento .conteudo-editor a{
	color: #861c22;
}
.conteudo-interna.interna-evento .jspDrag{
	border-radius: 8px;
	background-color: #ffd91b;
}
.conteudo-interna.interna-evento .jspTrack{
	background-color: #ccae16;	
	padding: 3px 3px 10px 3px;
}

/* PROGRAMAÇÃO */
/* PROGRAMAÇÃO */
.conteudo-interna.interna-programacao{
	background-color: #861c22;
}
.conteudo-interna.interna-programacao .topo h2{
	color: #f1c71c;
}
.conteudo-interna.interna-programacao .topo h2 span{
	background-color: #f1c71c;
}
.conteudo-interna.interna-programacao .scroll{
	max-height: 300px;
	overflow: auto;
	width: 100%!important;
	margin-top: 25px;
}
.conteudo-interna.interna-programacao .conteudo-editor h2,.conteudo-interna.interna-programacao .conteudo-editor p,.conteudo-interna.interna-programacao .conteudo-editor a{
	color: #861c22;
}
.conteudo-interna.interna-programacao .jspDrag{
	border-radius: 8px;
	background-color: #be5505;
}
.conteudo-interna.interna-programacao .jspTrack{
	background-color: #6b161b;	
	padding: 3px 3px 10px 3px;
}
.conteudo-interna.interna-programacao table{
	width: 100%!important;
	overflow: hidden;
}
.conteudo-interna.interna-programacao table tr{
	display: block;
	width: 100%;
	overflow: hidden;
}
.conteudo-interna.interna-programacao table tr td{
	width: calc(33.33% - 10px);
	float: left;
	margin-right: 10px;
}
.conteudo-interna.interna-programacao table tr td:last-child{
	width: 33.33%;
	float: left;
	margin-right: 0px;
}
.conteudo-interna.interna-programacao table tr td{
	background-color: #be5505;
	padding: 5px;
	margin-top: 5px;
}
.conteudo-interna.interna-programacao table tr:first-child td{
	background-color: transparent;
}
.conteudo-interna.interna-programacao table tr td h3{
	text-transform: uppercase;
	text-align: center;
	display: block;
	font-size: 17px;
	font-family: "aller";
}
.conteudo-interna.interna-programacao table tr th p{
	text-transform: uppercase;
	text-align: center;
	display: block;
	font-size: 19px;
	font-family: "aller";
}
.conteudo-interna.interna-programacao table tr th h3{
	text-transform: uppercase;
	text-align: center;
	display: block;
	font-size: 19px;
	font-family: "aller";
}
.conteudo-interna.interna-programacao table tr td p{
	text-align: center;
	font-size: 19px;
	font-family: "aller";
	color: #fff;
}


/* BLOG */
/* BLOG */
.conteudo-interna.interna-blog{
	background-color: #dec07d;
}
.conteudo-interna.interna-blog .topo h2{
	color: #000;
}
.conteudo-interna.interna-blog .topo h2 span{
	background-color: #000;
}
.conteudo-interna.interna-blog ul{
	width: 100%;
	display: block;
	overflow: hidden;
}
.conteudo-interna.interna-blog ul li{
	width: 100%;
	overflow: hidden;
	display: block;
	margin-top: 50px;
	padding: 10px 0px;
}
.conteudo-interna.interna-blog ul li:first-child{
	margin-top: 0;
}
.conteudo-interna.interna-blog ul li img{
	display: block;
	max-width: 100%;
}
.conteudo-interna.interna-blog ul li p{
	font-size: 16px;
	display: block;
	font-family: "aller";
	color: #000;
	margin-top: 10px;
	line-height: 25px;
}
.conteudo-interna.interna-blog ul li p span.leia-mais{
	font-size: 16px;
	font-family: "aller";
	color: #fff;
	background-color: #000;
	padding: 5px;
	text-transform: uppercase;
	text-align: center;
}

.conteudo-interna.interna-blog-detalhado{
	background-color: #dec07d;
}
.conteudo-interna.interna-blog-detalhado .topo h2{
	color: #000;
	text-decoration: underline;
}
.conteudo-interna.interna-blog-detalhado .topo h2 span{
	background-color: #000;
}
.conteudo-interna.interna-blog-detalhado img{
	display: block;
	max-width: 100%;
	margin-top: 10px;
}
.conteudo-interna.interna-blog-detalhado .conteudo-editor p{
	color: #000;
}
.conteudo-interna.interna-blog-detalhado .conteudo-editor p{
	color: #000;
}
.conteudo-interna.interna-blog-detalhado .conteudo-editor a{
	color: #000;
}
.conteudo-interna.interna-blog-detalhado .conteudo-editor span{
	color: #000;
}
.conteudo-interna.interna-blog-detalhado .conteudo-editor h3{
	color: #000;
}
.conteudo-interna.interna-blog-detalhado h3.titulo{
	font-size: 28px;
	text-transform: uppercase;
	text-align: center;
	display: block;
	font-family: "aller_bold";
	color: #000;
	margin-top: 10px;
}

/* FAMÍLIA */
/* FAMÍLIA */
.conteudo-interna.interna-familia{
	background-color: #e98a3a;
}
.conteudo-interna.interna-familia .topo h2{
	color: #861c22;
	padding-left: 100px;
}
.conteudo-interna.interna-familia .topo h2 span{
	background-color: #861c22;
}
.conteudo-interna.interna-familia .col-right{
	float: right;
	width: calc(50% - 15px);
}
.conteudo-interna.interna-familia .col-left{
	float: left;
	width: calc(50% - 15px);
}
.conteudo-interna.interna-familia .col-left img{
	display: block;
	max-width: 100%;
	margin: 0 auto;
}
.conteudo-interna.interna-familia .col-right .conteudo-editor h3{
	color: #000;
}
.conteudo-interna.interna-familia .col-right .conteudo-editor p{
	color: #000;
}
.conteudo-interna.interna-familia .col-right .conteudo-editor span{
	color: #000;
}
.conteudo-interna.interna-familia .col-right .conteudo-editor a{
	color: #000;
}
.conteudo-interna.interna-familia .col-right .conteudo-editor b{
	color: #000;
}
.conteudo-interna.interna-familia .col-right h3.chamada{
	font-family: "aller_bold";
	text-transform: uppercase;
	display: block;
	font-size: 20px;
	margin-top: 10px;
	color: #000;
}

.conteudo-interna.interna-familia .col-right ul{
	overflow: hidden;
	width: 100%;
}
.conteudo-interna.interna-familia .col-right ul li{
	overflow: hidden;
	width: 100%;
	display: block;
	margin-top: 10px;
	position: relative;
	padding-bottom: 15px;
}
.conteudo-interna.interna-familia .col-right ul li label.error{
	font-size: 12px;
	color: #000;
	position: absolute;
	bottom: 0;
	font-family: "aller";
}
.conteudo-interna.interna-familia .col-right ul li input[type="text"]{
	width: 100%;
	display: block;
	background-color: #be5505;
	padding: 10px;
	color: #000;
	font-family: "aller";
	font-size: 16px;
}
.conteudo-interna.interna-familia .col-right ul li input[type='file'] {
  display: none
}

.conteudo-interna.interna-familia .col-right ul li label.label-upload {
  background-color: #be5505;
  color: #000;
  font-family: "aller";
  display: block;
  padding: 10px;
  cursor: pointer
}

.conteudo-interna.interna-familia .col-right ul li label.label-upload:hover {
  background-color: #9D340E
}
.conteudo-interna.interna-familia .col-right input[type="submit"]{
	background-color: #988680;
	padding: 30px 0 25px 90px;
	color: #fff;
	font-family: "aller";
	font-size: 16px;
	background: url("../img/btn-enviar.png") no-repeat center left;
	margin: 10px auto 0;
	display: block;
}

/* CONTATO */
/* CONTATO */
.conteudo-interna.interna-contato{
	background-color: #54362c;
}
.conteudo-interna.interna-contato .topo h2{
	color: #9e8257;
}
.conteudo-interna.interna-contato .topo h2 span{
	background-color: #9e8257;
}
.conteudo-interna.interna-contato ul{
	overflow: hidden;
	width: 100%;
}
.conteudo-interna.interna-contato ul li{
	overflow: hidden;
	width: 100%;
	display: block;
	margin-top: 10px;
	position: relative;
	padding-bottom: 15px;
}
.conteudo-interna.interna-contato ul li label.error{
	position: absolute;
	bottom: 0;
	font-size: 12px;
	color: #fff;
	font-family: "aller";
}
.conteudo-interna.interna-contato ul li input[type="text"]{
	width: 100%;
	display: block;
	background-color: #988680;
	padding: 10px;
	color: #000;
	font-family: "aller";
	font-size: 16px;
}
.conteudo-interna.interna-contato ul li textarea{
	width: 100%;
	display: block;
	background-color: #988680;
	padding: 10px;
	color: #000;
	font-family: "aller";
	font-size: 16px;
	height: 150px;
	max-height: 150px;
	min-height: 150px;
	min-width: 100%;
	max-width: 100%;
}
.conteudo-interna.interna-contato input[type="submit"]{
	background-color: #988680;
	padding: 30px 0 25px 90px;
	color: #fff;
	font-family: "aller";
	font-size: 16px;
	background: url("../img/btn-enviar-contato.png") no-repeat center left;
	margin: 10px auto 0;
	display: block;
}
.conteudo-interna.interna-contato p{
	width: 100%;
	display: block;
	color: #fff;
	font-family: "aller";
	font-size: 18px;
	margin-top: 15px;
	padding: 15px;
}

/*RESET SCROLLBAR*/
.jspContainer{
	width: 100%!important;
}
.jspVerticalBar{
	border-radius: 8px;
	overflow: hidden;
}
.jspPane{
	width: 95%!important;
}


/*CONTEUDO EDITOR*/
.conteudo-editor h3{
	font-family: "aller_bold";
	text-transform: uppercase;
	display: block;
	font-size: 20px;
	margin-top: 10px;
}
.conteudo-editor p{
	font-family: "aller";
	display: block;
	font-size: 16px;
	margin-top: 10px;
}
.conteudo-editor span{
	font-family: "aller";
	font-size: 16px;
}
.conteudo-editor b{
	font-family: "aller_bold";
	font-size: 16px;
}
.conteudo-editor strong{
	font-family: "aller_bold";
	font-size: 16px;
}
.conteudo-editor a{
	font-family: "aller_bold";
	text-decoration: underline;
	font-size: 16px;
	color: #fff;
}


/* RESPONSIVO 1200PX */
@media screen and (max-width: 1200px){
	header{
		height: 50px;
		position: fixed;
		left: 0;
		right: 0;
		z-index: 100;
	}
	header a.menu-hamburguer{
		display: block;
	}
	header nav{
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		margin: 0;
		bottom: 0;
		background-color: #fff;
		height: 0;
		transition: all 0.2s linear 0s;
		overflow: auto;
	}
	header nav.ativo{
		height: 100%;
	}
	header nav ul{
		width: 100%;
		overflow: hidden;
		text-align: center;
		display: block;
	}
	header nav ul li{
		width: 100%;
		overflow: hidden;
		text-align: center;
		display: block;
		float: none;
		margin: 20px auto 0;
	}
	header nav ul li a{
		color: #000;
	}
}

@media screen and (max-width: 800px){
	.banner-home h2{
		font-size: 24px;
	}
	.banner-home p{
		font-size: 16px;
	}
	.conteudo-interna .topo h2::before{
		position: relative;
		margin: 0 auto;
		display: block;
	}
	.conteudo-interna .topo h2{
		margin: 0 auto;
		font-size: 26px;
		padding: 0!important;
	}
	.conteudo-interna .topo h2 span{
		margin-bottom: 7px;
	}
	.conteudo-editor{
		margin-top: 20px;
	}
	.conteudo-interna.interna-blog-detalhado h3.titulo{
		font-size: 22px;
		margin-top: 20px;
	}
	.conteudo-interna.interna-familia .col-right{
		width: 100%;
		float: none;
		margin: 20px auto 0;
	}
	.conteudo-interna.interna-familia .col-left{
		width: 100%;
		float: none;
		margin: 20px auto 0;
	}

}

@media screen and (max-width: 500px){
	.conteudo-interna .topo h2{
		margin: 0 auto;
		font-size: 18px;
		padding: 0!important;
	}
	.conteudo-interna .topo h2 span{
		margin-bottom: 7px;
		display: none;
	}
}